.containerMid{
    margin: 20% auto;
}

.containerLogin{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;

}


.form{
    background: linear-gradient(135deg, rgb(125, 30, 189) 0%, rgb(169, 44, 226) 44%, rgba(54,3,74,1) 100%);
    animation: change 3s infinite ease-in-out;
    background-size: 200% 200%;

    color: aliceblue;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    
    min-width: 50%;
    height: 500px;
    margin: auto;

    border-radius: 50px;

    -webkit-box-shadow: 10px 10px 70px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 70px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 70px 3px rgba(0,0,0,0.75);
    
}

button{
    margin: 10px;
    margin-top: 30px;
    color:#fff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #5e0978;
    border: 1px solid #5e0978;
    transition:  all .3s;
    box-shadow: 3px 3px 6px #ba0dc3, -3px -3px 6px #4d013f;
}

button:hover{
    box-shadow: -3px -3px 6px #ba0dc3, 6px 6px 6px #4d013f
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes typing {
    from { width: 5px }
    to { width: 100% }
  }