.div{
  background-color: rgb(208, 249, 208);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2px;
  margin: 10px;
  display: flex;
  width: 300px;

  position: absolute;

  animation: in 0.5s ease-in-out;
}

@keyframes in {
  0%{
      transform: translateY(-100px);
  }
}