.background{
    position: relative;
    z-index: 0;

    opacity: 0.89;

}

.flowers{
    position: absolute;

    z-index: 1;
    top:-7rem;
    left: -10rem;

    min-width: 20em;
    min-height: 20em;   
    
    max-width: 25em;
    max-height: 25em;
    
}
.newflowers{
    position: absolute;

    z-index: 1;
    top:-3rem;
    left: 0;

    min-width: 100vw;
    min-height: 10em;   
    
    max-width: 100vw;
    max-height: 25em;
    
}

.wheat{
    position: fixed;
    bottom: -10rem;
    right: -7rem;
    z-index: 1;
    
    min-width: 20em;
    min-height: 20em;   
    
    max-width: 25em;
    max-height: 25em;
}

.details{
    position: fixed;
    bottom: -10rem;
    left: -8rem;
    z-index: 1;

    min-width: 20em;
    min-height: 20em;   

    max-width: 25em;
    max-height: 25em;
}

@media only screen and (max-width: 600px) {
    .details{
        display: none;
    }
    .wheat{
        display: none;
    }
  }