.text{
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    
    top: 5px;
    margin: 10px auto;

    background:  linear-gradient(135deg, rgba(245,222,179,1) 0%, rgba(245,181,63,1) 100%);
    
    height: 100px;
    width: 100px;

    border-radius: 50%;
    
    
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
    transition: 2s;
    animation: in 2s;
    animation: color 2s;
    
}