.header{
  width: 100%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 30%;
  align-items: center;

  justify-content: center;
}

.ageBox, .statusBox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.age, .status{
  width: 150px;
  height: 25px;

  text-align: center;
  font-size: 1.1rem;
}
