@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap');
:root{
    --primaryFont: 'Cookie';
    --secundaryFont : 'Zilla Slab', serif;
    --thirdFont: 'Dancing Script'
}

.header {
  background: url('../../assets/newflowers2.png');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: contain;
  
  
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 5px;

  
}


.container{
  display: flex;
  flex-wrap: wrap;
  
  font-size: 4em;
  font-family: var(--primaryFont);
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgb(69, 38, 0);
}

.cards{
  display: flex;
  flex-wrap: wrap;

  font-size: 22px;
  font-family: var(--secundaryFont);

  margin: auto;

  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.container section{
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  
}
