.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(45deg, rgb(140, 63, 13) 30%, rgb(83, 37, 7) 100%);
    
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 20px;
  }

.title{
    padding-left: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    flex-basis: 30%;
    background-color: rgba(255, 255, 255, 0.381);
    margin: 10px;
    border: 1px solid rgba(118, 118, 118, 0.247);
    border-radius: 20px;
}

.peoplesInviteds{
    flex-basis: 60%;
    margin: 10px;
}

.addGuest{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    bottom: 0px;
    right: 0px;

    padding: 10px;

}

.prices, .status{
    width: 100%;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center;
}

@media screen and (max-width:480px) {
    .cards{
        flex-basis: 100%;
    }
    .peoplesInviteds{
        flex-basis: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width:768px) {
    .cards{
        flex-basis: 100%;
    }
    .peoplesInviteds{
        flex-basis: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width:1024px) {
    .cards{
        flex-basis: 100%;
    }
    .peoplesInviteds{
        flex-basis: 100%;
    }
}
@media screen and (min-width: 1025px) {

}

