.card{
  background-color: rgb(248, 255, 250);
  color: rgb(50, 50, 50);

  position: relative;

  display: flex;
  flex-wrap: wrap;

  text-align: center;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 330px;

  margin: 10px;

  overflow: hidden;

  border-radius: 12px;

  box-sizing: content-box;
  transition: 0.5s;

  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.49);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.49);

}

.card:hover{
  width: 210px;
  height: 340px;
  transition: 0.5s;
}

.divTitle{
  position: relative;
  width: 100%;

  top: -35px;

  height: 45%;

  border-bottom: 3px solid white ;
  

  background-position: center;
  background-size: contain;


  display: flex;
  justify-content: center;
  align-items: center;
  
 
}

.title{
  position: absolute;
  top: 90%;


  width: auto;
  height: auto;

  min-width: 20%;
  padding: 0px 10px 0px 10px ;
  

  transition: padding 0.2s;

  font-size: 0.9em;
}



.price, .priceCoins{

 
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 1.5em;
  
}

.priceCoins{
  display: inline;
  font-size: 0.75em;
}

.inf{
  position: relative;

  display: flex;
  flex-wrap: wrap;


  
  height: 25%;
  width: 100%;

  z-index: 0;

  display: flex;

  justify-content: space-around;
  align-items: center;
  margin-bottom: 15%;

}

.link{
  position: relative;
  width: 80px;
  height: 40px;
  z-index: 0;

  background-color: rgba(245, 222, 179, 0);

  color: rgb(255, 255, 255);

  border: none;
  
  transform-origin: top left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.btnPresents{
  background: none;
  box-shadow: none;
  border: none;

  background-color: beige;

  color: black;
}
.btnPresents:hover{
  background: none;
  box-shadow: none;
  border: none;

  background-color: rgb(203, 203, 149);

  color: black;
}

.link span{
  z-index: 1;
}



